body, html{
    margin:0px;
    padding:0px;
    height: 100%;
}

#maket{
    margin:0 auto;
    min-height: 100%;
}

footer{
    background: gainsboro;
    clear:both;
    height: 25px;
    margin-top: -25px;
    padding-left: 10px;
    padding-right: 10px;
}

#rasporka{
    height: 50px;
}

.foo {
    display: flex;
    justify-content: space-between;

}

.contacts{
    display: flex;
}

.author{
    display: flex;
}
