*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.recovery{
    height: 350px;
    width: 400px;
    display: flex;
    position: relative;
    left: 50%;
    margin-left: -200px;
    flex-direction: column;
    box-sizing: border-box;
}

.recovery__title-text{
    text-align: center;
}

.recovery__field{
    min-height: 150px;
    width: 400px;
    border: solid black 2px;
    text-align: center;
    padding: 20px 30px;
    box-sizing: border-box;
}

.recovery__email {
    display: flex;
    flex-direction: row;
}

.recovery__email{
    margin-top: 20px;
    margin-bottom: 30px;
}

.recovery__email-input {
    width: 200px;
}

.recovery__email p:first-child{
    text-align: left;
    width: 100px;
}

.recovery__btn{
    width: 80px;
    height: 30px;
    font-size:16px;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
}

.recovery__btn:hover{
    cursor: pointer;
    background-color: #ccc;
    box-shadow: inset 0 3px 2px black;
}