.selfie {
  display: flex;
  /* flex-direction: row; */
  width: 1150px;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.filters {
  text-align: center;
  width: 200px;
  background-color: #ccc;
}

.camera {
  position: relative;
  width: 640px;
  margin: 0 auto;
}

.camera__area {
  position: relative;
  /*border: 2px solid pink;*/
  background-color: purple;
  z-index: 5;
}

.camera__photo {
  /*border: 2px solid coral;*/
  position: absolute;
  top: 0;
  left: 0;
  background-color: aqua;
}

.camera__image {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.camera_z_index {
  z-index: 10;
}

.photo__list {
  width: 250px;
  background-color: #ccc;
}

.photo__part {
  text-align: center;
}

.display-hidden {
  display: none;
}

@media (max-width: 768px) {
  .selfie {
    width: 768px;
  }
  .filters {
    width: 100px;
  }
  .filters button img {
    width: 100px !important;
  }

  .camera {
    width: 400px;
    height: 300px;
  }
  .camera video,
  canvas {
    width: 400px;
    height: 300px;
  }
  .camera__image {
    width: 400px;
    height: 300px;
  }

  .photo__list {
    width: 200px;
  }
  .photo__part img {
    width: 200px;
  }
}

@media (max-width: 320px) {
  .selfie {
    width: 320px;
  }
  .filters {
    width: 50px;
  }
  .filters button img {
    width: 50px !important;
  }

  .camera {
    width: 160px;
    height: 120px;
  }
  .camera video,
  canvas {
    width: 160px;
    height: 120px;
  }
  .camera__image {
    width: 160px;
    height: 120px;
  }

  .photo__list {
    width: 100px;
  }
  .photo__part img {
    width: 100px;
  }
}